@import "../../styles/Variables.scss";

.email_container_outer {
  padding: 30px 30px 20px 20px;
  display: flex;
  align-items: start;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $border;

  .avatar_cont {
    width: 100px;

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $accent;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin: 0px 20px;
    }
  }

  .email_cont_inner {
    width: 100%;

    .email_header {
      display: flex;
      align-items: start;
      justify-content: space-between;

      h1 {
        margin: 0px 0px 20px 0px;
      }

      .fav_btn {
        border-radius: 20px;
        padding: 10px 20px;
        background-color: $accent;
        color: $white;
        border: none;
        cursor: pointer;
      }

      .unfav {
        background-color: $readBg;
        color: black;
      }
    }

    .date_text {
      margin: 10px 0px 30px 0px;
    }

    .loading_body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 45px;
      font-weight: bold;
      color: $border;
      min-height: 500px;
      font-style: italic;
    }
  }
}
