@import "../../styles/Variables.scss";

.list_scroll_area {
  height: 80vh;
  overflow: auto;
}

.pagination_cont {
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .page_btns {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 5px 9px;
      border: 1px solid $border;
      cursor: pointer;
      color: $text;

      &:hover {
        background: $filterButton;
      }

      &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
      }
    }
  }
}
